root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8

[*.{cs,svc,asax,aspx,cshtml,csproj,sln}]
charset = utf-8-bom

[*.{config,csproj,nuspec,xml}]
indent_size = 2

[*.sln]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

# Ignore these files
[{LICENSE,build/database/*,src/Alloy.Mvc.Template/Static/**}]
indent_style = unset
indent_size = unset
